---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  title?: string;
  external?: boolean;
  children: HTMLElement | HTMLElement[] | string;
}

const {
  href,
  title,
  external = false,
  class: className,
  ...rest
} = Astro.props;

const newTitle = external && title ? `${title} (external link)` : title;
---

<a
  class={cn(
    "w-fit opacity-60 transition duration-150 hover:opacity-100 hover:underline",
    className
  )}
  href={href}
  title={newTitle}
  target={external ? "_blank" : "_self"}
  aria-label={newTitle}
  {...rest}
>
  <slot />
</a>
